<mat-card>
    <mat-form-field>
    <input matInput #searchquery placeholder="Search for images"class="search">
    </mat-form-field>
    <br>
    <button (click)="SearchImages(searchquery.value)"
      mat-raised-button class="searchButton" type="button">Find Images</button>
    <button *ngIf="imagesFound"(click)="nextPage()" mat-raised-button class="searchButton">Next Page</button>
    <button *ngIf="this.page>1" (click)="previousPage()" mat-raised-button class="searchButton">previous Page</button>
    
</mat-card>
  
  <div *ngIf="searching">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
<mat-card *ngIf="imagesFound">
    <h4 *ngIf="imagesFound" mat-subeader>Results</h4>
    <ngx-masonry>
      <div ngxMasonryItem *ngFor="let image of images" class="image-container">
        <mat-card>
          <a href="{{ image.pageURL }}" target="_blank">
            <mat-card-header>
              <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
              <mat-card-title>User: {{ image.user }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{image.webformatURL}}">
            <mat-card-content>
              <p>Tags: {{ image.tags }}</p>
              <p>Comments: {{ image.comments }}</p>
              <p>Likes: {{ image.likes }}</p>
            </mat-card-content>
          </a>
        </mat-card>
      </div>
    </ngx-masonry>
  </mat-card>    